body {
  margin: 0px;
}
.master-page {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: minmax(145px, auto);
  /* grid-template-areas:
	  "header header header header header header"
	  "main main main main main main"
	  "footer footer footer footer footer footer"; */
  grid-gap: 0px;
  background-color: #ebdddd;
  padding: 1px;
}
.item1 {
  /* grid-area: header; */
  grid-column: span 1;
  font-family: "Noticia Text", serif;
  color: #4d4d4d;
}
.item3 {
  /* grid-area: main; */
  grid-row: span 2;
}
/* .item4 { grid-area: right; } */
.item5 {
  /* grid-area: footer; */
  grid-row: span 1;
}

.master-page > div {
  /* background-color: #ebdddd; */
  /* text-align: center; */
  padding: 2px 0;
  font-size: 20px;
}
#site-header {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
/* #site-header-inlineContent {
	height: auto;
	width: 100%;
  } */
/* #site-header-inlineContent-gridContainer {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
} */

/* #site-header
  > #site-header-inlineContent
  > #site-header-inlineContent-gridContainer
 .header-txt > h1 {
  font-family: "Noticia Text", serif;
  font-size: 43px;
  color: #4d4d4d;
} */
.header-txt {
  font-family: "Noticia Text", serif;
  position: relative;
  margin: 35px 0px 34px calc((100% - 980px) * 0.5);
  left: 93px;
  grid-area: 1 / 1 / 2 / 2;
  height: auto;
  width: 375px;
}
.header-txt > h1 {
  /* font-family: "Noticia Text", serif; */
  font-size: 40px;
  /* color: #4d4d4d;	 */
  margin-top: 0px;
  margin-bottom: 0px;
}
.header-txt > h6 {
  /* font-family: "Noticia Text", serif; */
  line-height: 1.2em;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}
.site-header-inlineContent-gridContainer {
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  margin: 0;
  padding: 0;
}
#navigationMenu-container {
  position: relative;
  margin: 66px 0px 3px calc((100% - 980px) * 0.5);
  left: 445px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
.site-header-inlineContent-gridContainer > #navigationMenu-container > nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
/* .site-header-inlineContent-gridContainer > #navigationMenu-container > nav > ul{
	list-style-type: none;
	display: inline;
	font-size: 14px;
	text-transform: uppercase;	
  } */
nav ul li {
  display: inline;
  margin: 15px;
  padding-left: 20px;
  line-height: 1.2em;
  vertical-align: baseline;
  font-weight: bold;
  color: #818488;
  list-style-type: none;
  font-size: 13px;
  text-transform: uppercase;
}
/* .item1 > nav > li{
	float: right;
  } */
